In [260]:
import pandas as pd

In [261]:
url="https://raw.githubusercontent.com/orrefo/Music/refs/heads/main/"

In [262]:
artist=pd.read_csv(url+"artist.csv",index_col=0)

In [263]:
artist=artist.drop_duplicates()

In [264]:
mapping=pd.read_csv(url+"mapping.csv",index_col=0)

In [265]:
mapping=mapping.drop_duplicates()

In [266]:
chart=pd.read_csv(url+"chart.csv",index_col=0)

In [267]:
chart=chart.drop_duplicates()

In [268]:
tracks=pd.read_csv(url+"tracks.csv",index_col=0)

In [269]:
tracks=tracks.drop_duplicates()

In [270]:
audio=pd.read_csv(url+"audio_1.csv",index_col=0)

In [271]:
audio=audio.drop_duplicates()

In [272]:
map_artist=pd.merge(mapping,artist,left_on='artist_id',right_on='artist_id',how='left')

In [273]:
artist_track=pd.merge(map_artist,tracks,left_on='track_id',right_on='track_id',how='left')

In [274]:
artist_track_audio=pd.merge(artist_track ,audio,left_on='track_id',right_on='track_id',how='left')

In [275]:
all=pd.merge(chart ,artist_track_audio ,left_on='track_id',right_on='track_id',how='left')

In [276]:
all.rename(columns={'name_x':'artist','name_y':'track_title'},inplace=True)

In [277]:
all['chart_week'] = pd.to_datetime(all['chart_week'], format='%Y-%m-%d', errors='coerce')

In [278]:
all[['release_year','del_1','del2']]=all['release_date'].str.split('-', expand=True)

In [279]:
all['duration_s']=round(all['duration_ms']/1000,0).astype('int')

In [280]:
all.drop(columns=['duration_ms','del_1', 'del2'], inplace= True)

In [281]:
all['release_year']=all['release_year'].astype('int')

In [282]:
all['explicit']=all['explicit'].astype('bool')

In [283]:
key_mapping = {
    0: "C",
    1: "C♯ / D♭",
    2: "D",
    3: "D♯ / E♭",
    4: "E",
    5: "F",
    6: "F♯ / G♭",
    7: "G",
    8: "G♯ / A♭",
    9: "A",
    10: "A♯ / B♭",
    11: "B"
}

In [284]:
all['key_mapped']=all['key'].map(key_mapping)

In [286]:
chart

        chart_week  list_position                track_id
0       2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1       2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2       2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3       2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4       2003-07-12             66  003FTlCpBTM4eSqYSWPv4H
...            ...            ...                     ...
129300  2004-04-17             74  7zywdG4ysfC5XNBzjQAo2o
129301  2004-08-07             80  7zywdG4ysfC5XNBzjQAo2o
129302  2004-08-14             81  7zywdG4ysfC5XNBzjQAo2o
129303  2004-08-21             82  7zywdG4ysfC5XNBzjQAo2o
129304  2004-08-28             83  7zywdG4ysfC5XNBzjQAo2o

[129305 rows x 3 columns]

In [285]:
all.to_csv('all.csv')