In [2]:
import pandas as pd
import datetime as dt
import numpy as np

In [3]:
chart=pd.read_csv('chart.csv')
chart['score']=round((-15.79*np.log(chart['list_position']+1)+88.06)*1.3,0).astype('int')
chart['chart_year']=pd.to_datetime(chart['chart_week']).dt.year

In [4]:
pd.to_datetime(chart['chart_week']).dt.year

0         2021
1         2003
2         2003
3         2003
4         2003
          ...
129300    2004
129301    2004
129302    2004
129303    2004
129304    2004
Name: chart_week, Length: 129305, dtype: int32

In [5]:
all=pd.read_csv('all.csv')

In [6]:
all

,Unnamed: 0,chart_week,list_position,track_id,artist_id,artist,popularity,followers,track_title,release_date,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,release_year,duration_s,key_mapped,score
0,0,2021-07-10,42,000TJlEJQ3nafsm1hBWpoj,45gHcnDnMC15sgx3VL7ROG,42 Dugg,72.0,1234936.0,LEMONHEAD (feat. 42 Dugg),2023-03-31,...,0.155000,0.000000,0.5350,0.487,137.131,4.0,2023,131,C♯ / D♭,37
1,1,2021-07-10,42,000TJlEJQ3nafsm1hBWpoj,4V8LLVI7PbaPR0K2TGSxFF,"Tyler, The Creator",87.0,16512648.0,LEMONHEAD (feat. 42 Dugg),2023-03-31,...,0.155000,0.000000,0.5350,0.487,137.131,4.0,2023,131,C♯ / D♭,37
2,2,2003-07-19,60,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,30
3,3,2003-07-26,60,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,30
4,4,2003-08-02,64,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175524,175524,2004-04-17,74,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,26
175525,175525,2004-08-07,80,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175526,175526,2004-08-14,81,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175527,175527,2004-08-21,82,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175528,175528,2004-08-28,83,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24

In [7]:
all['chart_year']=pd.to_datetime(all['chart_week']).dt.year
all_num_one=all[all['list_position']==1][['track_id','score','artist']]

In [8]:
track_week_score=all.groupby(['track_id','chart_week'])['score'].max().groupby('track_id').sum()

In [9]:
all[all['list_position']==1][['track_id','score','artist']].groupby(['track_id','artist']).count().groupby('track_id').max()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [10]:
all_num_one.groupby(['track_id','artist']).count().groupby('track_id').max()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [11]:
chart_num_one=chart[chart['list_position']==1][['track_id','score']]
chart_num_one.groupby('track_id').count()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [12]:
chart_num_one

                      track_id  score
50      005lwxGU1tms6HGELIcUv9    100
51      005lwxGU1tms6HGELIcUv9    100
52      005lwxGU1tms6HGELIcUv9    100
53      005lwxGU1tms6HGELIcUv9    100
54      005lwxGU1tms6HGELIcUv9    100
...                        ...    ...
128983  7z3N2W7Xz1t2G2sAO8wFVH    100
128984  7z3N2W7Xz1t2G2sAO8wFVH    100
128985  7z3N2W7Xz1t2G2sAO8wFVH    100
128986  7z3N2W7Xz1t2G2sAO8wFVH    100
128987  7z3N2W7Xz1t2G2sAO8wFVH    100

[1294 rows x 2 columns]

In [13]:
chart_track_score_year=chart.groupby(['track_id','chart_year'])['score'].sum().sort_values(ascending=False)
chart_track_score=chart.groupby(['track_id'])['score'].sum().sort_values(ascending=False)
chart_track_score_year=chart_track_score_year.reset_index()

In [14]:
mapping=pd.read_csv('mapping.csv',index_col=0)
artist=pd.read_csv('artist.csv',index_col=0)
tracks=pd.read_csv('tracks.csv',index_col=0)
tracks=tracks.drop_duplicates()

In [15]:
map_artist=pd.merge(mapping,artist,left_on='artist_id',right_on='artist_id',how='left')
artist_track=pd.merge(map_artist,tracks,left_on='track_id',right_on='track_id',how='left')
tracks_score=pd.merge(tracks,chart_track_score,left_on='track_id',right_on='track_id',how='left')

In [16]:
def merge_track(table_1,table_2):
    table_3=pd.merge(table_1,table_2,left_on='track_id',right_on='track_id',how='left')
    return table_3

In [17]:
artists_for_score=artist_track.groupby(['track_id'])['name_x'].unique()

In [18]:
tracks_score_year=pd.merge(chart_track_score_year,tracks,left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,artists_for_score,left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,chart.groupby('track_id')['chart_week'].count(),left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,chart_num_one.groupby('track_id').count(),left_on='track_id',right_on='track_id',how='left')

In [60]:
all.groupby('artist_id')['score'].sum()

artist_id
00FQb4jTyendYWaN8pK0wa    3112
00UOluVoYY4F2blO5DmgRj     208
010JjFqFcVyJmc2G56puZ2      88
01Ppu7N8uYJI8SAONo2YZA     155
01QTIT5P1pFP3QnnFSdsJf    3396
                          ...
7yE0pgnhHPnPk4GZVuEpZM      90
7yPbJOX7olhT3ynAyuj3Zl     107
7yntSJ6uojO3z6GFUVwhAW      22
7z5WFjZAIYejWy0NI5lv4T    9976
7zICaxnDB9ZprDSiFpvbbW     889
Name: score, Length: 3108, dtype: int64

In [46]:
chart=pd.read_csv('chart.csv')
mapping=pd.read_csv('mapping.csv',index_col=0)
artist=pd.read_csv('artist.csv',index_col=0)
tracks=pd.read_csv('tracks.csv',index_col=0)
tracks=tracks.drop_duplicates()
chart['score']=round((-15.79*np.log(chart['list_position']+1)+88.06)*1.3,0).astype('int')
chart['chart_year']=pd.to_datetime(chart['chart_week']).dt.year
map_artist=pd.merge(mapping,artist,left_on='artist_id',right_on='artist_id',how='left')
artist_track=merge_track(map_artist,tracks)

In [47]:
artist_track

,artist_id,track_id,name_x,popularity,followers,name_y,duration_ms,release_date,album_type,explicit
0,artist_id,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00FQb4jTyendYWaN8pK0wa,4zmKGsrXjLmljb5fTaBTot,Lana Del Rey,92.0,40583711.0,Snow On The Beach (feat. More Lana Del Rey),229942.0,2023-05-26,album,True
2,00FQb4jTyendYWaN8pK0wa,6GGtHZgBycCgGBUhZo81xe,Lana Del Rey,92.0,40583711.0,Say Yes To Heaven,209156.0,2023-05-19,single,False
3,00FQb4jTyendYWaN8pK0wa,22DH8NChecsgPxDjA4pqer,Lana Del Rey,92.0,40583711.0,Tough,188828.0,2024-07-03,single,False
4,00FQb4jTyendYWaN8pK0wa,7JVNRVPeXFAOdMrxOHNjVv,Lana Del Rey,92.0,40583711.0,Blue Jeans - RAC Mix,218213.0,2012-01-01,single,True
...,...,...,...,...,...,...,...,...,...,...
15043,7z5WFjZAIYejWy0NI5lv4T,0vzSAyinyA619ZbrOaAi04,Dan + Shay,70.0,3186426.0,Steal My Love,162120.0,2021-08-13,album,False
15044,7zICaxnDB9ZprDSiFpvbbW,1mtUwv8L4nhMRfbP2pa36V,Master P,54.0,1065527.0,Souljas,212706.0,2005-01-01,compilation,True
15045,7zICaxnDB9ZprDSiFpvbbW,0YHI5hydPPth6J5UOzdLDX,Master P,54.0,1065527.0,Lay Low,223000.0,2000,album,True
15046,7zICaxnDB9ZprDSiFpvbbW,5ztSiJBrCxd4Q0s0yc3tAV,Master P,54.0,1065527.0,Oooh Wee,253133.0,2001-12-18,album,True
15047,7zICaxnDB9ZprDSiFpvbbW,73oaAjfHAtUJDtul0QFlfs,Master P,54.0,1065527.0,Choppa Style,264106.0,2003-01-01,album,True

In [51]:
track_info=merge_track(tracks,artist_track.groupby(['track_id'])['name_x'].unique())
track_info=merge_track(track_info,chart.groupby('track_id')['chart_week'].count())
track_info=merge_track(track_info,chart.groupby('track_id')['chart_year'].min())
track_info=merge_track(track_info,chart[chart['list_position']==1][['track_id','score']].groupby('track_id').count())

In [ ]:
 data_year=data_year.rename(columns={
                'name':'track_title',
                'chart_week_y':'weeks_on_leaderboard',
                'score_y':'weeks_on_1st_place',
                'score_x':'score',
                'name_x':'artist',
                'chart_year_y':'first_year_on_leaderboard' })

In [96]:
artist

,artist_id,name,popularity,followers
0,13UwRaADQI0yTqjPBDkk6d,J-Shin (Featuring LaTocha Scott of Xscape),0,253
1,2LmsYeN3MzzZ9zhuZhNyqO,A*Teens,0,10
2,5Q25oFANw7zA3kD2DPaJ8D,The 2000s Karaoke Band,0,26
3,7u7ORV6MVjId1jfJwMdakL,2000s Karaoke Band,0,27
4,0LyfQWJT6nXafLPZqxe9Of,Various Artists,0,2542450
...,...,...,...,...
3103,74KM79TiuVKeVCqs8QtB0B,Sabrina Carpenter,95,13599895
3104,1Xyo4u8uXC1ZmMpatF05PJ,The Weeknd,96,92598894
3105,6qqNVTkY8uBg9cP3Jd7DAH,Billie Eilish,96,100687015
3106,3TVXtAsR1Inumwj472S9r4,Drake,96,92537455
3107,06HL4z0CvFAxyc27GXpf02,Taylor Swift,100,123544806

In [ ]:
    all.groupby('artist_id')['score'].sum()
    all.groupby('artist_id')['track_title'].nunique()
    all.groupby('artist_id')['chart_week'].count()
    all.groupby('artist_id')['chart_year'].min()
    all[all['list_position']==1][['artist_id','score']].groupby('artist_id').count()

artist_id
00FQb4jTyendYWaN8pK0wa    17
00UOluVoYY4F2blO5DmgRj     1
010JjFqFcVyJmc2G56puZ2     1
01Ppu7N8uYJI8SAONo2YZA     1
01QTIT5P1pFP3QnnFSdsJf    11
                          ..
7yE0pgnhHPnPk4GZVuEpZM     1
7yPbJOX7olhT3ynAyuj3Zl     1
7yntSJ6uojO3z6GFUVwhAW     1
7z5WFjZAIYejWy0NI5lv4T    15
7zICaxnDB9ZprDSiFpvbbW     4
Name: track_title, Length: 3108, dtype: int64

artist_id
00FQb4jTyendYWaN8pK0wa     88
00UOluVoYY4F2blO5DmgRj      9
010JjFqFcVyJmc2G56puZ2      3
01Ppu7N8uYJI8SAONo2YZA      4
01QTIT5P1pFP3QnnFSdsJf    103
                         ...
7yE0pgnhHPnPk4GZVuEpZM      2
7yPbJOX7olhT3ynAyuj3Zl      5
7yntSJ6uojO3z6GFUVwhAW      1
7z5WFjZAIYejWy0NI5lv4T    284
7zICaxnDB9ZprDSiFpvbbW     37
Name: chart_week, Length: 3108, dtype: int64

artist_id
00FQb4jTyendYWaN8pK0wa    2002
00UOluVoYY4F2blO5DmgRj    2011
010JjFqFcVyJmc2G56puZ2    2010
01Ppu7N8uYJI8SAONo2YZA    2008
01QTIT5P1pFP3QnnFSdsJf    2006
                          ...
7yE0pgnhHPnPk4GZVuEpZM    2022
7yPbJOX7olhT3ynAyuj3Zl    2019
7yntSJ6uojO3z6GFUVwhAW    2021
7z5WFjZAIYejWy0NI5lv4T    2014
7zICaxnDB9ZprDSiFpvbbW    2000
Name: chart_year, Length: 3108, dtype: int32

                        score
artist_id
01ZpL2TZ4QxYNDLc70RIiT      2
04gDigrS5kc9YWfZHwBETP     23
06HL4z0CvFAxyc27GXpf02     36
07QEuhtrNmmZ0zEcqE9SF6      2
07W0YfsvHM7Mw7Bq48Mb0A      4
...                       ...
7qG3b048QCHVRO5Pv1T5lw      3
7tYKF4w9nC0nq9CsPZTHyP      2
7u7ORV6MVjId1jfJwMdakL      7
7xAcVHPiirnUqfdqo0USb1      1
7xTcuBOIAAIGDOSvwYFPzk      5

[257 rows x 1 columns]

In [53]:
artist_lol=merge_track(map_artist,track_info)

In [54]:
artist_lol

,artist_id,track_id,name_x,popularity,followers,name_y,duration_ms,release_date,album_type,explicit,name_x,chart_week,chart_year,score
0,artist_id,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00FQb4jTyendYWaN8pK0wa,4zmKGsrXjLmljb5fTaBTot,Lana Del Rey,92.0,40583711.0,Snow On The Beach (feat. More Lana Del Rey),229942.0,2023-05-26,album,True,"[Lana Del Rey, Taylor Swift]",8.0,2022.0,NaN
2,00FQb4jTyendYWaN8pK0wa,6GGtHZgBycCgGBUhZo81xe,Lana Del Rey,92.0,40583711.0,Say Yes To Heaven,209156.0,2023-05-19,single,False,[Lana Del Rey],3.0,2023.0,NaN
3,00FQb4jTyendYWaN8pK0wa,22DH8NChecsgPxDjA4pqer,Lana Del Rey,92.0,40583711.0,Tough,188828.0,2024-07-03,single,False,"[Lana Del Rey, Quavo]",5.0,2024.0,NaN
4,00FQb4jTyendYWaN8pK0wa,7JVNRVPeXFAOdMrxOHNjVv,Lana Del Rey,92.0,40583711.0,Blue Jeans - RAC Mix,218213.0,2012-01-01,single,True,"[Lana Del Rey, RAC]",4.0,2002.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15043,7z5WFjZAIYejWy0NI5lv4T,0vzSAyinyA619ZbrOaAi04,Dan + Shay,70.0,3186426.0,Steal My Love,162120.0,2021-08-13,album,False,[Dan + Shay],1.0,2021.0,NaN
15044,7zICaxnDB9ZprDSiFpvbbW,1mtUwv8L4nhMRfbP2pa36V,Master P,54.0,1065527.0,Souljas,212706.0,2005-01-01,compilation,True,[Master P],1.0,2000.0,NaN
15045,7zICaxnDB9ZprDSiFpvbbW,0YHI5hydPPth6J5UOzdLDX,Master P,54.0,1065527.0,Lay Low,223000.0,2000,album,True,"[Nate Dogg, Butch Cassidy, Tha Eastsidaz, Snoo...",19.0,2001.0,NaN
15046,7zICaxnDB9ZprDSiFpvbbW,5ztSiJBrCxd4Q0s0yc3tAV,Master P,54.0,1065527.0,Oooh Wee,253133.0,2001-12-18,album,True,[Master P],11.0,2001.0,NaN
15047,7zICaxnDB9ZprDSiFpvbbW,73oaAjfHAtUJDtul0QFlfs,Master P,54.0,1065527.0,Choppa Style,264106.0,2003-01-01,album,True,"[Choppa Style, Master P]",6.0,2003.0,NaN

In [55]:
chart=pd.read_csv('chart.csv')
mapping=pd.read_csv('mapping.csv',index_col=0)
artist=pd.read_csv('artist.csv',index_col=0)
tracks=pd.read_csv('tracks.csv',index_col=0)
tracks=tracks.drop_duplicates()
chart['score']=round((-15.79*np.log(chart['list_position']+1)+88.06)*1.3,0).astype('int')
chart['chart_year']=pd.to_datetime(chart['chart_week']).dt.year
map_artist=pd.merge(mapping,artist,left_on='artst_id',right_on='artist_id',how='left')
artist_track=merge_track(map_artist,tracks)i
track_info=merge_track(tracks,artist_track.groupby(['track_id'])['name_x'].unique())
track_info=merge_track(track_info,chart.groupby('track_id')['chart_week'].count())
track_info=merge_track(track_info,chart.groupby('track_id')['chart_year'].min())
track_info=merge_track(track_info,chart[chart['list_position']==1][['track_id','score']].groupby('track_id').count())

In [ ]:
data_year=merge_track(chart.groupby('track_id').sum().sort_values(by='score',ascending=False),track_info)
data_year=data_year.rename(columns={
    'name':'track_title',
    'chart_week_y':'weeks_on_leaderboard',
    'score_y':'weeks_on_1st_place',
    'score_x':'score',
    'name_x':'artist',
    'chart_year_y':'first_year_on_leaderboard' })
data_year.groupby('artist')
data_year[['track_title','score','artist','first_year_on_leaderboard','weeks_on_leaderboard','weeks_on_1st_place']]

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
 filtered_data_2 = chart[
                (chart["chart_year"] >= selected_years[0]) &
                (chart["chart_year"] <= selected_years[1])]
            data_year=merge_track(filtered_data_2.groupby('track_id').sum().sort_values(by='score',ascending=False).head(num),track_info)
            data_year=data_year.rename(columns={
                'name':'track_title',
                'chart_week_y':'weeks_on_leaderboard',
                'score_y':'weeks_on_1st_place',
                'score_x':'score',
                'name_x':'artist',
                'chart_year_y':'first_year_on_leaderboard' })
            st.write(data_year[['track_title','score','artist','first_year_on_leaderboard','weeks_on_leaderboard','weeks_on_1st_place']]

In [44]:
artist_track.groupby(['track_id'])['name_x'].unique()

track_id
000TJlEJQ3nafsm1hBWpoj    [42 Dugg, Tyler, The Creator]
003FTlCpBTM4eSqYSWPv4H       [The All-American Rejects]
003vvx7Niy0yvhvHt4a68B                    [The Killers]
005lwxGU1tms6HGELIcUv9                     [Katy Perry]
009ImBOrIUlWgla8U05RAC                     [Katy Perry]
                                      ...
7zo8XAMYBG6nGpqGiIudBc                       [Don Omar]
7zqM7Wm2xJLZ50qAnTLoHD               [Jazmine Sullivan]
7zuyvFHg8DcR9B1xtBfd4D                  [DJ Cover This]
7zywdG4ysfC5XNBzjQAo2o              [Montgomery Gentry]
track_id                                          [nan]
Name: name_x, Length: 10784, dtype: object

In [38]:
filtered_data = tracks_score_year[
            (tracks_score_year["chart_year"] >= 2000) &
            (tracks_score_year["chart_year"] <= 2006)]
pd.merge(filtered_data.groupby('track_id')['score_x'].sum().sort_values(ascending=False).head(30),tracks_score_year,how='inner',on='track_id')

,track_id,score_x_x,chart_year,score_x_y,name,duration_ms,release_date,album_type,explicit,name_x,chart_week,score_y
0,7uKcScNXuO3MWw6LowBjW1,5279,2005,3471,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
1,7uKcScNXuO3MWw6LowBjW1,5279,2000,1158,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
2,7uKcScNXuO3MWw6LowBjW1,5279,2004,533,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
3,7uKcScNXuO3MWw6LowBjW1,5279,2009,273,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
4,7uKcScNXuO3MWw6LowBjW1,5279,2003,117,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
5,7uKcScNXuO3MWw6LowBjW1,5279,2008,68,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
6,0wqOReZDnrefefEsrIGeR4,3145,2001,2888,Hanging By A Moment,216066,2000,album,False,[Lifehouse],54,NaN
7,0wqOReZDnrefefEsrIGeR4,3145,2002,257,Hanging By A Moment,216066,2000,album,False,[Lifehouse],54,NaN
8,0gmbgwZ8iqyMPmXefof8Yf,3105,2002,2116,How You Remind Me,223840,2001-09-11,album,False,[Nickelback],49,4.0
9,0gmbgwZ8iqyMPmXefof8Yf,3105,2001,989,How You Remind Me,223840,2001-09-11,album,False,[Nickelback],49,4.0
10,3ZXb7BJtQpt5oHscNU2MG1,3074,2004,3074,Yeah! (Instrumental),246626,2010-07-06,single,False,[DJ Cover This],47,12.0
11,3ZXb7BJtQpt5oHscNU2MG1,3074,2024,87,Yeah! (Instrumental),246626,2010-07-06,single,False,[DJ Cover This],47,12.0
12,3LmvfNUQtglbTrydsdIqFU,2971,2005,2785,We Belong Together,201400,2005-04-12,album,False,[Mariah Carey],43,14.0
13,3LmvfNUQtglbTrydsdIqFU,2971,2006,186,We Belong Together,201400,2005-04-12,album,False,[Mariah Carey],43,14.0
14,6ZOBP3NvffbU4SZcrnt1k6,2894,2000,2203,Kryptonite,233933,2000,album,False,[3 Doors Down],53,NaN
15,6ZOBP3NvffbU4SZcrnt1k6,2894,2001,691,Kryptonite,233933,2000,album,False,[3 Doors Down],53,NaN
16,0815caqt2Lytro5EIzMufT,2853,2005,2200,You And Me,195493,2005-03-22,album,False,[Lifehouse],62,NaN
17,0815caqt2Lytro5EIzMufT,2853,2006,653,You And Me,195493,2005-03-22,album,False,[Lifehouse],62,NaN
18,6Bm6qUCSatPAqkQllFL7oA,2834,2003,2342,Unwell,228706,2002-11-01,album,False,[Matchbox Twenty],54,NaN
19,6Bm6qUCSatPAqkQllFL7oA,2834,2004,492,Unwell,228706,2002-11-01,album,False,[Matchbox Twenty],54,NaN
20,3y4LxiYMgDl4RethdzpmNe,2811,2000,2811,Breathe,250546,1999-11-09,album,False,[Faith Hill],45,NaN
21,3NLrRZoMF0Lx6zTlYqeIo4,2715,2004,1595,Here Without You,238733,2002-11-12,album,False,[3 Doors Down],51,NaN
22,3NLrRZoMF0Lx6zTlYqeIo4,2715,2003,1120,Here Without You,238733,2002-11-12,album,False,[3 Doors Down],51,NaN
23,2hKdd3qO7cWr2Jo0Bcs0MA,2710,2001,2298,Drops of Jupiter (Tell Me),259933,2001-03-27,album,False,[Train],53,NaN
24,2hKdd3qO7cWr2Jo0Bcs0MA,2710,2002,412,Drops of Jupiter (Tell Me),259933,2001-03-27,album,False,[Train],53,NaN
25,3aw9iWUQ3VrPQltgwvN9Xu,2687,2001,1685,Family Affair,265866,2001-08-28,album,False,[Mary J. Blige],41,6.0
26,3aw9iWUQ3VrPQltgwvN9Xu,2687,2002,1002,Family Affair,265866,2001-08-28,album,False,[Mary J. Blige],41,6.0
27,6vgN6KGstss0GnBbKlMNK9,2646,2000,1555,The Way You Love Me,186066,1999-11-09,album,False,[Faith Hill],56,NaN
28,6vgN6KGstss0GnBbKlMNK9,2646,2001,1091,The Way You Love Me,186066,1999-11-09,album,False,[Faith Hill],56,NaN
29,3xrn9i8zhNZsTtcoWgQEAd,2630,2005,2570,Since U Been Gone,188960,2004-01-17,album,False,[Kelly Clarkson],46,NaN
30,3xrn9i8zhNZsTtcoWgQEAd,2630,2004,60,Since U Been Gone,188960,2004-01-17,album,False,[Kelly Clarkson],46,NaN
31,5z7mYFfhw6N6f23VwrokJD,2627,2004,1739,The Way You Move (feat. Sleepy Brown),234000,2003,album,True,"[Outkast, Sleepy Brown]",39,1.0
32,5z7mYFfhw6N6f23VwrokJD,2627,2003,888,The Way You Move (feat. Sleepy Brown),234000,2003,album,True,"[Outkast, Sleepy Brown]",39,1.0
33,3qadkg8UCqAzXQ7oI6Teai,2588,2005,1763,Gold Digger (As Made Famous By Kanye West Feat...,227013,2011-09-06,album,False,[The Karaoke Crew],39,10.0
34,3qadkg8UCqAzXQ7oI6Teai,2588,2006,825,Gold Digger (As Made Famous By Kanye West Feat...,227013,2011-09-06,album,False,[The Karaoke Crew],39,10.0
35,0eKyHwckh9vQb8ncZ2DXCs,2540,2000,1782,With Arms Wide Open,274800,1999-01-01,album,False,[Creed],47,1.0
36,0eKyHwckh9vQb8ncZ2DXCs,2540,2001,758,With Arms Wide Open,274800,1999-01-01,album,False,[Creed],47,1.0
37,1m2xMsxbtxv21Brome189p,2523,2000,2523,I Wanna Know,296693,2000-04-18,album,False,[Joe],44,NaN
38,0r2Bul2NuCViraT2zX1l5j,2510,2003,2028,Get Low,334066,2002-10-29,album,True,"[Lil Jon & The East Side Boyz, Ying Yang Twins]",45,NaN
39,0r2Bul2NuCViraT2zX1l5j,2510,2004,482,Get Low,334066,2002-10-29,album,True,"[Lil Jon & The East Side Boyz, Ying Yang Twins]",45,NaN
40,3ibKnFDaa3GhpPGlOUj7ff,2488,2005,1890,Let Me Love You,256733,2004-09-21,single,False,[Mario],36,9.0
41,3ibKnFDaa3GhpPGlOUj7ff,2488,2004,598,Let Me Love You,256733,2004-09-21,single,False,[Mario],36,9.0
42,3XVBdLihbNbxUwZosxcGuJ,2463,2004,2463,If I Ain't Got You,228706,2003-12-02,album,False,[Alicia Keys],40,NaN
43,7xYnUQigPoIDAMPVK79NEq,2434,2005,1318,Run It! (feat. Juelz Santana),229866,2005,album,False,"[Juelz Santana, Chris Brown]",38,5.0
44,7xYnUQigPoIDAMPVK79NEq,2434,2006,1116,Run It! (feat. Juelz Santana),229866,2005,album,False,"[Juelz Santana, Chris Brown]",38,5.0
45,5dNfHmqgr128gMY2tc5CeJ,2429,2003,2184,Ignition - Remix,186066,2003,album,False,[R. Kelly],42,NaN
46,5dNfHmqgr128gMY2tc5CeJ,2429,2002,245,Ignition - Remix,186066,2003,album,False,[R. Kelly],42,NaN
47,61Qhe2mHSLhUE04QeK4lkD,2415,2005,1410,Breakaway,237000,2004-01-17,album,False,[Kelly Clarkson],46,NaN
48,61Qhe2mHSLhUE04QeK4lkD,2415,2004,1005,Breakaway,237000,2004-01-17,album,False,[Kelly Clarkson],46,NaN
49,0SpastrqUcf3RlFGZ8r0uD,2412,2004,1944,My Goodies (In the style of Ciara featuring Pe...,226440,2010-03-01,album,False,[2000s Karaoke Band],38,7.0
50,0SpastrqUcf3RlFGZ8r0uD,2412,2005,468,My Goodies (In the style of Ciara featuring Pe...,226440,2010-03-01,album,False,[2000s Karaoke Band],38,7.0
51,5QpaGzWp0hwB5faV8dkbAz,2398,2002,2059,Wherever You Will Go,208600,2001,album,False,[The Calling],45,NaN
52,5QpaGzWp0hwB5faV8dkbAz,2398,2001,339,Wherever You Will Go,208600,2001,album,False,[The Calling],45,NaN
53,4cKGldbhGJniI8BrB3K6tb,2394,2000,2394,Everything You Want,257066,1999-06-14,album,False,[Vertical Horizon],41,1.0
54,6ECp64rv50XVz93WvxXMGF,2390,2004,2390,This Love,206200,2002,album,False,[Maroon 5],43,NaN
55,25CMmGsl22APKhfuj4Tp7j,2370,2001,2057,It's Been Awhile,264706,2001-08-20,album,True,[Staind],46,NaN
56,25CMmGsl22APKhfuj4Tp7j,2370,2002,313,It's Been Awhile,264706,2001-08-20,album,True,[Staind],46,NaN
57,6fA7akEuTUL3dW1V0GELaZ,2353,2000,2240,Bent,256133,2000-05-23,album,False,[Matchbox Twenty],39,1.0
58,6fA7akEuTUL3dW1V0GELaZ,2353,2001,113,Bent,256133,2000-05-23,album,False,[Matchbox Twenty],39,1.0

In [ ]:
    # Filter the data based on the selected year range
    filtered_data = tracks_score_year[
        (tracks_score_year["chart_year"] >= selected_years[0]) &
        (tracks_score_year["chart_year"] <= selected_years[1])]
    
    st.write(tracks_score_year[tracks_score_year['chart_year']==selected_years[0]].sort_values(by='score_x',ascending=False).head(30))
    filtered_data_2 = chart[
        (chart["chart_year"] >= selected_years[0]) &
        (chart["chart_year"] <= selected_years[1])]
    data_year=merge_track(filtered_data_2.groupby('track_id').sum().sort_values(by='score',ascending=False).head(30),track_info)
    data_year=data_year.rename(columns={
        'name':'track_title',
        'chart_week_y':'weeks_on_leaderboard',
        'score_y':'weeks_on_1st_place',
        'score_x':'score',
        'name_y':'artist',
        'chart_year_y':'first_year_on_leaderboard' })
    st.write(data_year[['track_title','score','name_x','first_year_on_leaderboard','weeks_on_leaderboard','weeks_on_1st_place']])

In [40]:
tracks_score_year[tracks_score_year['chart_year']==2000].sort_values(by='score_x',ascending=False).head(20)

,track_id,chart_year,score_x,name,duration_ms,release_date,album_type,explicit,name_x,chart_week,score_y
29,3y4LxiYMgDl4RethdzpmNe,2000,2811,Breathe,250546,1999-11-09,album,False,[Faith Hill],45,NaN
66,1m2xMsxbtxv21Brome189p,2000,2523,I Wanna Know,296693,2000-04-18,album,False,[Joe],44,NaN
88,4cKGldbhGJniI8BrB3K6tb,2000,2394,Everything You Want,257066,1999-06-14,album,False,[Vertical Horizon],41,1.0
114,6fA7akEuTUL3dW1V0GELaZ,2000,2240,Bent,256133,2000-05-23,album,False,[Matchbox Twenty],39,1.0
124,6ZOBP3NvffbU4SZcrnt1k6,2000,2203,Kryptonite,233933,2000,album,False,[3 Doors Down],53,NaN
152,1Yp6SnaxRGguBjcEFarluk,2000,2124,Smooth (In the Style of Carlos Santana Featuri...,235230,2010-08-01,single,False,[ProSource Karaoke],36,2.0
165,7f1Dmr246cJ9uQYdbplTbh,2000,2092,He Wasn't Man Enough,261933,2000,album,False,[Toni Braxton],37,NaN
192,1ZozJfi8u9cO2Ob8KwiwNT,2000,2037,Higher,316733,1999-01-01,album,False,[Creed],41,NaN
196,0EvX3wUXm0Xds8ZTA7oXOJ,2000,2031,Try Again,284640,2001-07-07,album,False,[Aaliyah],32,1.0
198,3XKIUb7HzIF1Vu9usunMzc,2000,2030,Maria Maria (feat. The Product G&B),261973,1999-06-15,album,False,"[Santana, The Product G&B]",26,10.0
206,6qc34bnVOyqGDPni8H5W0U,2000,2015,Amazed,240866,1999,album,False,[Lonestar],34,2.0
252,7H6ev70Weq6DdpZyyTmUXk,2000,1923,Say My Name,271333,1999-07-27,album,False,[Destiny's Child],31,3.0
260,4pmc2AxSEq6g7hPVlJCPyP,2000,1901,"Jumpin', Jumpin'",230200,1999-07-27,album,False,[Destiny's Child],32,NaN
303,6dJ2mSRaKE9ctYw9qWNGWQ,2000,1798,There You Go,202800,2000-04-04,album,False,[P!nk],32,NaN
314,0eKyHwckh9vQb8ncZ2DXCs,2000,1782,With Arms Wide Open,274800,1999-01-01,album,False,[Creed],47,1.0
338,2dwhMQsFeHr2S787WxqAqW,2000,1731,You Sang To Me,347106,1999-09-28,album,False,[Marc Anthony],32,NaN
366,5Mmk2ii6laakqfeCT7OnVD,2000,1701,Thong Song,253733,1999-11-30,album,True,[Sisqo],28,NaN
395,7azC8toDthwJHHuw7m49K4,2000,1659,(Hot S**t) Country Grammar - Dirty Edit,259173,2000-01-01,single,True,[Nelly],34,NaN
443,6nozDLxeL0TE4MS9GqYU1v,2000,1599,I Knew I Loved You,250360,1999-11-09,album,False,[Savage Garden],23,4.0
468,2BcOZ4vOeu2qZowIHrvTYy,2000,1567,Music,225973,2000-09-19,album,False,[Madonna],24,4.0

In [20]:
filtered_data.sort_values(by='score_x',ascending=False).head(30)

,track_id,chart_year,score_x,name,duration_ms,release_date,album_type,explicit,name_x,chart_week,score_y
4,7uKcScNXuO3MWw6LowBjW1,2005,3471,"1, 2 Step (feat. Missy Elliott)",203786,2004-09-27,album,False,"[Ciara, Missy Elliott]",109,NaN
18,3ZXb7BJtQpt5oHscNU2MG1,2004,3074,Yeah! (Instrumental),246626,2010-07-06,single,False,[DJ Cover This],47,12.0
28,0wqOReZDnrefefEsrIGeR4,2001,2888,Hanging By A Moment,216066,2000,album,False,[Lifehouse],54,NaN
29,3y4LxiYMgDl4RethdzpmNe,2000,2811,Breathe,250546,1999-11-09,album,False,[Faith Hill],45,NaN
31,3LmvfNUQtglbTrydsdIqFU,2005,2785,We Belong Together,201400,2005-04-12,album,False,[Mariah Carey],43,14.0
57,3xrn9i8zhNZsTtcoWgQEAd,2005,2570,Since U Been Gone,188960,2004-01-17,album,False,[Kelly Clarkson],46,NaN
66,1m2xMsxbtxv21Brome189p,2000,2523,I Wanna Know,296693,2000-04-18,album,False,[Joe],44,NaN
73,3XVBdLihbNbxUwZosxcGuJ,2004,2463,If I Ain't Got You,228706,2003-12-02,album,False,[Alicia Keys],40,NaN
88,4cKGldbhGJniI8BrB3K6tb,2000,2394,Everything You Want,257066,1999-06-14,album,False,[Vertical Horizon],41,1.0
89,6ECp64rv50XVz93WvxXMGF,2004,2390,This Love,206200,2002,album,False,[Maroon 5],43,NaN
96,6Bm6qUCSatPAqkQllFL7oA,2003,2342,Unwell,228706,2002-11-01,album,False,[Matchbox Twenty],54,NaN
101,2hKdd3qO7cWr2Jo0Bcs0MA,2001,2298,Drops of Jupiter (Tell Me),259933,2001-03-27,album,False,[Train],53,NaN
102,4w1lzcaoZ1IC2K5TwjalRP,2002,2297,A Thousand Miles,237493,2002-04-30,album,False,[Vanessa Carlton],41,NaN
114,6fA7akEuTUL3dW1V0GELaZ,2000,2240,Bent,256133,2000-05-23,album,False,[Matchbox Twenty],39,1.0
115,58AwxWLaRHn2lTqqH9dLkU,2004,2236,The Reason,232706,2010-01-01,compilation,False,[Hoobastank],38,NaN
123,6zMUIb4uce1CzpbjR3vMdN,2002,2204,Foolish,227386,2002-01-01,album,True,[Ashanti],32,10.0
124,6ZOBP3NvffbU4SZcrnt1k6,2000,2203,Kryptonite,233933,2000,album,False,[3 Doors Down],53,NaN
126,0815caqt2Lytro5EIzMufT,2005,2200,You And Me,195493,2005-03-22,album,False,[Lifehouse],62,NaN
133,5dNfHmqgr128gMY2tc5CeJ,2003,2184,Ignition - Remix,186066,2003,album,False,[R. Kelly],42,NaN
140,7z3N2W7Xz1t2G2sAO8wFVH,2004,2160,Burn,231933,2004-03-23,album,False,[USHER],30,8.0
147,4RY96Asd9IefaL3X4LOLZ8,2003,2145,In Da Club,193466,2003-02-06,album,True,[50 Cent],30,9.0
150,0LzrhCZFXW94Y8nwtTuRlw,2005,2127,Hollaback Girl,199853,2004-11-12,album,True,[Gwen Stefani],31,4.0
152,1Yp6SnaxRGguBjcEFarluk,2000,2124,Smooth (In the Style of Carlos Santana Featuri...,235230,2010-08-01,single,False,[ProSource Karaoke],36,2.0
155,3WbphvawbMZ8FyqDxYGdSQ,2003,2119,When I'm Gone,260333,2002-11-12,album,False,[3 Doors Down],45,NaN
157,0gmbgwZ8iqyMPmXefof8Yf,2002,2116,How You Remind Me,223840,2001-09-11,album,False,[Nickelback],49,4.0
161,6bK9BH9Ts8Gj5JFvnQkzak,2003,2105,Get Busy,211666,2022-11-11,album,False,[Sean Paul],32,3.0
164,0l3GEbH3CviUytD6iX4wzg,2003,2100,Right Thurr,250746,2003-01-01,album,True,[Chingy],33,NaN
165,7f1Dmr246cJ9uQYdbplTbh,2000,2092,He Wasn't Man Enough,261933,2000,album,False,[Toni Braxton],37,NaN
181,751gBcu62kORDelX7FV0mM,2001,2059,Thank You,217826,1999-06-01,album,False,[Dido],39,NaN
180,5QpaGzWp0hwB5faV8dkbAz,2002,2059,Wherever You Will Go,208600,2001,album,False,[The Calling],45,NaN