In [2]:
import pandas as pd
import datetime as dt
import numpy as np

In [3]:
chart=pd.read_csv('chart.csv')
chart['score']=round((-15.79*np.log(chart['list_position']+1)+88.06)*1.3,0).astype('int')
chart['chart_year']=pd.to_datetime(chart['chart_week']).dt.year

In [4]:
pd.to_datetime(chart['chart_week']).dt.year

0         2021
1         2003
2         2003
3         2003
4         2003
          ...
129300    2004
129301    2004
129302    2004
129303    2004
129304    2004
Name: chart_week, Length: 129305, dtype: int32

In [5]:
all=pd.read_csv('all.csv')

In [6]:
all

,Unnamed: 0,chart_week,list_position,track_id,artist_id,artist,popularity,followers,track_title,release_date,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,release_year,duration_s,key_mapped,score
0,0,2021-07-10,42,000TJlEJQ3nafsm1hBWpoj,45gHcnDnMC15sgx3VL7ROG,42 Dugg,72.0,1234936.0,LEMONHEAD (feat. 42 Dugg),2023-03-31,...,0.155000,0.000000,0.5350,0.487,137.131,4.0,2023,131,C♯ / D♭,37
1,1,2021-07-10,42,000TJlEJQ3nafsm1hBWpoj,4V8LLVI7PbaPR0K2TGSxFF,"Tyler, The Creator",87.0,16512648.0,LEMONHEAD (feat. 42 Dugg),2023-03-31,...,0.155000,0.000000,0.5350,0.487,137.131,4.0,2023,131,C♯ / D♭,37
2,2,2003-07-19,60,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,30
3,3,2003-07-26,60,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,30
4,4,2003-08-02,64,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT,The All-American Rejects,68.0,2692470.0,"Swing, Swing",2002-10-15,...,0.000065,0.128000,0.0385,0.318,127.947,4.0,2002,233,G,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175524,175524,2004-04-17,74,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,26
175525,175525,2004-08-07,80,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175526,175526,2004-08-14,81,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175527,175527,2004-08-21,82,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24
175528,175528,2004-08-28,83,7zywdG4ysfC5XNBzjQAo2o,3bGXaFVQLASmDMdjjeJr8a,Montgomery Gentry,58.0,1475847.0,If You Ever Stop Loving Me,2004-05-18,...,0.123000,0.000031,0.2800,0.536,185.034,4.0,2004,203,G,24

In [7]:
all['chart_year']=pd.to_datetime(all['chart_week']).dt.year
all_num_one=all[all['list_position']==1][['track_id','score','artist']]

In [8]:
track_week_score=all.groupby(['track_id','chart_week'])['score'].max().groupby('track_id').sum()

In [10]:
all[all['list_position']==1][['track_id','score','artist']].groupby(['track_id','artist']).count().groupby('track_id').max()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [11]:
all_num_one.groupby(['track_id','artist']).count().groupby('track_id').max()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [12]:
chart_num_one=chart[chart['list_position']==1][['track_id','score']]
chart_num_one.groupby('track_id').count()

                        score
track_id
005lwxGU1tms6HGELIcUv9      7
01XFgRZfZI7oBagNf1Loml      5
02VBYrHfVwfEWXk5DXyf0T      2
04KTF78FFg8sOHC1BADqbY      7
09CtPGIpYB4BrO8qb1RGsF      3
...                       ...
7xQAfvXzm3AkraOtGPWIZg      1
7xYnUQigPoIDAMPVK79NEq      5
7ySUcLPVX7KudhnmNcgY2D      1
7ytR5pFWmSjzHJIeQkgog4      7
7z3N2W7Xz1t2G2sAO8wFVH      8

[325 rows x 1 columns]

In [13]:
chart_track_score_year=chart.groupby(['track_id','chart_year'])['score'].sum().sort_values(ascending=False)
chart_track_score=chart.groupby(['track_id'])['score'].sum().sort_values(ascending=False)
chart_track_score_year=chart_track_score_year.reset_index()

In [14]:
mapping=pd.read_csv('mapping.csv',index_col=0)
artist=pd.read_csv('artist.csv',index_col=0)
tracks=pd.read_csv('tracks.csv',index_col=0)
tracks=tracks.drop_duplicates()

In [15]:
map_artist=pd.merge(mapping,artist,left_on='artist_id',right_on='artist_id',how='left')
artist_track=pd.merge(map_artist,tracks,left_on='track_id',right_on='track_id',how='left')
tracks_score=pd.merge(tracks,chart_track_score,left_on='track_id',right_on='track_id',how='left')

In [16]:
artists_for_score=artist_track.groupby(['track_id'])['name_x'].unique()

In [17]:
tracks_score_year=pd.merge(chart_track_score_year,tracks,left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,artists_for_score,left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,chart.groupby('track_id')['chart_week'].count(),left_on='track_id',right_on='track_id',how='left')
tracks_score_year=pd.merge(tracks_score_year,chart_num_one.groupby('track_id').count(),left_on='track_id',right_on='track_id',how='left')

In [18]:
tracks_score_year[tracks_score_year['chart_year']==2000].sort_values(by='score_x',ascending=False).head(20)

,track_id,chart_year,score_x,name,duration_ms,release_date,album_type,explicit,name_x,chart_week,score_y
29,3y4LxiYMgDl4RethdzpmNe,2000,2811,Breathe,250546,1999-11-09,album,False,[Faith Hill],45,NaN
66,1m2xMsxbtxv21Brome189p,2000,2523,I Wanna Know,296693,2000-04-18,album,False,[Joe],44,NaN
88,4cKGldbhGJniI8BrB3K6tb,2000,2394,Everything You Want,257066,1999-06-14,album,False,[Vertical Horizon],41,1.0
114,6fA7akEuTUL3dW1V0GELaZ,2000,2240,Bent,256133,2000-05-23,album,False,[Matchbox Twenty],39,1.0
124,6ZOBP3NvffbU4SZcrnt1k6,2000,2203,Kryptonite,233933,2000,album,False,[3 Doors Down],53,NaN
152,1Yp6SnaxRGguBjcEFarluk,2000,2124,Smooth (In the Style of Carlos Santana Featuri...,235230,2010-08-01,single,False,[ProSource Karaoke],36,2.0
165,7f1Dmr246cJ9uQYdbplTbh,2000,2092,He Wasn't Man Enough,261933,2000,album,False,[Toni Braxton],37,NaN
192,1ZozJfi8u9cO2Ob8KwiwNT,2000,2037,Higher,316733,1999-01-01,album,False,[Creed],41,NaN
196,0EvX3wUXm0Xds8ZTA7oXOJ,2000,2031,Try Again,284640,2001-07-07,album,False,[Aaliyah],32,1.0
198,3XKIUb7HzIF1Vu9usunMzc,2000,2030,Maria Maria (feat. The Product G&B),261973,1999-06-15,album,False,"[Santana, The Product G&B]",26,10.0
206,6qc34bnVOyqGDPni8H5W0U,2000,2015,Amazed,240866,1999,album,False,[Lonestar],34,2.0
252,7H6ev70Weq6DdpZyyTmUXk,2000,1923,Say My Name,271333,1999-07-27,album,False,[Destiny's Child],31,3.0
260,4pmc2AxSEq6g7hPVlJCPyP,2000,1901,"Jumpin', Jumpin'",230200,1999-07-27,album,False,[Destiny's Child],32,NaN
303,6dJ2mSRaKE9ctYw9qWNGWQ,2000,1798,There You Go,202800,2000-04-04,album,False,[P!nk],32,NaN
314,0eKyHwckh9vQb8ncZ2DXCs,2000,1782,With Arms Wide Open,274800,1999-01-01,album,False,[Creed],47,1.0
338,2dwhMQsFeHr2S787WxqAqW,2000,1731,You Sang To Me,347106,1999-09-28,album,False,[Marc Anthony],32,NaN
366,5Mmk2ii6laakqfeCT7OnVD,2000,1701,Thong Song,253733,1999-11-30,album,True,[Sisqo],28,NaN
395,7azC8toDthwJHHuw7m49K4,2000,1659,(Hot S**t) Country Grammar - Dirty Edit,259173,2000-01-01,single,True,[Nelly],34,NaN
443,6nozDLxeL0TE4MS9GqYU1v,2000,1599,I Knew I Loved You,250360,1999-11-09,album,False,[Savage Garden],23,4.0
468,2BcOZ4vOeu2qZowIHrvTYy,2000,1567,Music,225973,2000-09-19,album,False,[Madonna],24,4.0